<div class="inicio">
    <div class="inicioima">
        <img src="/images/005-zorro.png" alt="" height="200px" width="200px" onclick="location.href='/'">
        <img src="/images/mane.png" alt="" height="60px" width="200px" onclick="location.href='/'">
    </div>
</div>