<body class="rosa">

  <h1 class="segundo">¿Cual es el rol en tu actividad? </h1>

  <div class="botonessegundo">

    <button onclick='makeAdmin' class="btnsegundo btn-primary btn-lg"><a href="admin/datos"></a>Organizador</button>
    <a class="btnsegundo btn-primary btn-lg" href="guest/invitacion"> Invitado </a>

  </div>
  
</body>