<h1 class="segundo">¿Cual es el rol en tu actividad? </h1>
{{!-- <div class="botonesimagen">
  <button onclick="location.href='admin/eventos'" >Organizador</button>
  <button onclick="location.href='guest/invitacion'"> Invitado </button>
</div> --}}

<div class="imagenes">
  <img src="/images/organiza.png" alt="" onclick="location.href='admin/perfil'">
  <br>
  <img src="/images/invitados.png" alt="" onclick="location.href='guest/invitacion'">
</div>