<body class="rosa">

  <h1 class="segundo"> Ingresa el codigo que te llego: </h1>

  <form>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <a href="/guest/perfil" class="btn btn-primary"> Submit </a>
  </form>
</body>