<body class="rosa">
  <h1 class="segundo"> Crea tu evento</h1>
  <div class="inscripción">
  <form>
    <div class="form-group">
      <label for="exampleInputName1">Nombre de evento</label>
      <input type="Name" class="form-control" id="exampleInputName1">
    </div>

    <div class="form-group">
      <label for="exampleInputName1">Fecha del evento</label>
      <input type="Date" class="form-control" id="exampleInputName1">
    </div>

    <div class="form-group">
      <label for="exampleInputPhone1">Numero de cotacto</label>
      <input type="number" class="form-control" id="exampleInputPhone1">
    </div>

    <form class="was-validated">
      <div class="mb-3">
        <label for="validationTextarea">¿Que te impulsa?</label>
        <textarea class="form-control is-invalid" id="validationTextarea"
          placeholder="Dile a tus invitados que fuerza motiva este evento..." required></textarea>
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
      </div>

      <div class="form-group">
        <label for="validationTextarea">Tipo de evento</label>
        <select class="custom-select" required>
          <option value="1">Boda</option>
          <option value="2">Viaje</option>
          <option value="3">Fiesta</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>
       <a class="btnsegundo btn-primary btn-lg" href="admin/perfil"> Go to your event </a>
    </form>
</div>
</body>