<body class="rosa">

  <h1 class="segundo"> Registra datos, tareas, gastos e invitados</h1>

  <form>
    <div class="form-group">
      <label for="exampleInputName1">Nombre de evento</label>
      <input type="Name" class="form-control" id="exampleInputName1">
    </div>

    <div class="form-group">
      <label for="exampleInputName1">Fecha del evento</label>
      <input type="Date" class="form-control" id="exampleInputName1">
    </div>

    <div class="form-group">
      <label for="exampleInputPhone1">Numero de contacto para invitados</label>
      <input type="number" class="form-control" id="exampleInputPhone1">
    </div>

    <form class="was-validated">
      <div class="mb-3">
        <label for="validationTextarea">¿Que te impulsa?</label>
        <textarea class="form-control is-invalid" id="validationTextarea"
          placeholder="Dile a tus invitados que fuerza motiva este evento..." required></textarea>
        <div class="invalid-feedback">
          Please enter a message in the textarea.
        </div>
      </div>

      <div class="form-group">
        <select class="custom-select" required>
          <option value="">Escoge una categoria</option>
          <option value="1">Invitados</option>
          <option value="2">Presupuestos</option>
          <option value="3">Tareas</option>
        </select>
        <div class="invalid-feedback">Example invalid custom select feedback</div>
      </div>

      <div class="form-group">
        <label for="exampleInputPhone1">Ingresa alguna tarea, invitado o presupuesto</label>
        <input type="number" class="form-control" id="exampleInputPhone1">
      </div>
    </form>


    <a href="/admin/perfil"><button class="btndatos btn-primary"> Submit </button></a>
    <br>
    <a href="/admin/perfil"><button class="btndatos btn-primary"> Save </button></a>
    <br>
  </form>

</body>




<!--
  action="/nombre de la ruta
  method="POST"
 -->