<h1>Eventos</h1>
<div class="Eventos">
<img src="/images/FAVPNG_recruitment-job-human-resource-flat-design_qSw5bzRJ.png" alt="" height="300px" width="370px">
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
<a href="datos" class="btn btn-primary">Nuevo Evento</a>