<h1 class="segundo"> Crea tu lista de invitados </h1>
<div class="inscripción">
    <form action="/admin/datos" method="POST">
        <div class="form-group">
            <label for="exampleInputName1"> Name </label>
            <input type="text" name="name" class="form-control" id="exampleInputName1" />
        </div>

        <div class="form-group">
            <label for="exampleInputName1"> Lastname </label>
            <input type="Date" name="date" class="form-control" id="exampleInputName1" />
        </div>

        <div class="form-group">
            <label for="exampleInputName1"> Correo </label>
            <input type="Date" name="date" class="form-control" id="exampleInputName1" />
        </div>

        <br>
        <button type="submit">Submit</button>
    </form>
</div>