<h1>Eventos</h1>
{{#if error}} <h2>No tienes Eventos</h2> {{/if}}
<table class="table bordered-table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {{#each event}}
        <th> <a href="//{{this._id}}">{{ this.name }}</a> </th>
        <th> <a href="/celebrities/{{this._id}}/delete">Delete</a> </th>
        <th> <a href="/celebrities/{{this._id}}/edit">Edit</a> </th>
        {{/each}}
    </tbody>
</table>

<a href="datos" class="btn btn-primary">Nuevo Evento</a>
