<body class="rosa">
  <div class="containerperfil">
    <div class="perfil">
      <img class="perfiles" src="./images/descarga (1).jpeg" alt="">
    </div>
    <div class="textoinfo">
      <a href="nombre">Nombre:</a>
      <a href="correo">Correo:</a>
      <a href="que te impulsa">Que te impulsa:</a>
      <button type="button" class="btnperfil btn-secondary btn-lg">Large button</button>
      <a href="que te impulsa">Fecha:</a>
      <a href="que te impulsa">Mapa:</a>
    </div>
    <div class="botonesperfil">
      <button type="button" class="btnperfil btn-secondary btn-lg">Large button</button>
      <button type="button" class="btnperfil btn-secondary btn-lg">Large button</button>
      <button type="button" class="btnperfil btn-secondary btn-lg">Large button</button>
      <button type="button" class="btnperfil btn-secondary btn-lg">Large button</button>
    </div>
  </div>
</body>